*{
    box-sizing: border-box;
}
.profile-infos{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    padding: 0 15%;
}
h3{
    font-size: 20px;
    color: var(--color-color);
}
.info-cols{
    flex-basis: 100%;
}
.profile-image{
    background: var(--bg-color);
    padding: 20px;
}
.tabs.active{
    display: block;
}
.tabs{
    display: none;
    position: relative;
}
.tab_img li.active{
    border-bottom: 2px solid salmon ;
    color: salmon;
}
.tab_img{
    cursor: pointer;
    display: flex;
    margin-top: 25px;
}
.tab_img li {
    color: var(--color-color);
    margin-left: 15px;
    padding: 10px 10px;
    /* border-radius: 10px; */
    
}

.tabcontent{
    display: grid;
    grid-template-columns:  repeat(5, auto);
    grid-gap:10px;
    padding: 25px 4%;
}
.tabcontent div img{
    image-rendering: pixelated; /*Làm sắc nét hình ảnh*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    object-fit: contain;
}
.div-image{
    width: 180px;
    height: 180px;
}
.div-image {
    position: relative;
}
.div-image .edit{
    position: absolute;
    font-size: 25px;
    color: #fff;
    top: 10px;
    right: 12px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, .5);
    padding: 3px 8px;
    border-radius: 10px;
    display: none;
}
.div-image:hover .edit{
    display: block;
}
.albums{
    margin-bottom: 35px;
    position: relative;
    width: 180px;
    height: 180px;
}
.albums img{
    image-rendering: pixelated; /*Làm sắc nét hình ảnh*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    object-fit: contain;
}
.albums p {
    font-size: 16px;
    font-weight: 600;
    margin: 8px 0;
    color: var(--color-color);
}
.albums .add_ablums{
    width: 180px;
    height: 180px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    border: 1px solid var(--color-color);
}
.albums i {
    position: absolute;
    top: 36%;
    right: 44%;
    font-size: 25px;
    font-weight: 700;
    color: var(--color-color);
}
.albums img:hover{
    opacity: .8;
}